@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {

  /* ========================================
    Fonts
  ======================================== */
  
  --font-1: var(--font-font-1);
  --font-2: var(--font-font-2);
  --font-3: var(--font-font-3);

  /* ========================================
     SHADOWS
  ======================================== */

  --shadow-light-100: 0px 10px 25px rgba(0, 0, 0, 0.06);

  --shadow-light-200: 0px 15px 35px rgba(0, 0, 0, 0.08);

  --shadow-dark-100: 0px 10px 30px rgba(255, 59, 48, 0.08);

  --shadow-dark-200: 0px 15px 40px rgba(255, 59, 48, 0.12);
}



